---
import Logo from "./Logo.astro"
import ThemeToggle from "./ThemeToggle.astro"
---

<header>
  <div class="flex justify-between items-start">
    <span class="w-130px h-57px logo">
      <Logo />
    </span>
    <ThemeToggle />
  </div>
</header>


